.bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2312312;
}
.mainBg {
    width: 100vw;
    height: 2080px;
}
.mainBgTon {
    position: absolute;
    top: 0;
    height: 2076px;
    width: 100%;
}